.AlarmBox{
    display: grid;

    grid-template-areas: "Alarms Alarms"
                         "showAllBtn setAlarmBtn";
    grid-template-rows: 85% 15%;
    grid-template-columns: 50% 50%;
    
}

.Alarms{
    grid-area: Alarms;
    height: 100%;
    overflow: auto;
}

.showAllBtn{
    grid-area: showAllBtn;
}

.setAlarmBtn{
    grid-area: setAlarmBtn;

}

#isAll{
    background-color: #dddddd;
}