.AlarmBox{
    display: grid;

    grid-template-areas: "Alarms"
                         "setAlarmBtn";
    grid-template-rows: 85% 15%;
    grid-template-columns: 100%;
    
}

.Alarms{
    grid-area: Alarms;
    height: 100%;
    overflow: auto;
}

.setAlarmBtn{
    grid-area: setAlarmBtn;

}