.alarm{

    justify-items: center;
    display: grid;
    grid-template-areas: "label day time";
    width: 100%;
    grid-template-columns: 50% 20% 30%;
}


.label{
    grid-area: label;
    font-family: Triforce;
    font-size: 3vh;
    width: 33vh;
    overflow: hidden;
}

.day{
    grid-area: day;
    font-family: Triforce;
    font-size: 3vh;
}

.time{
    grid-area: time;
    font-family: Triforce;
    font-size: 3vh;
}
