.tracker{
    display: grid;

    grid-template-areas: "objs objs objs objs objs"
                         "fullResetBtn . nextCycleBtn . undoBtn";
    grid-template-rows: 86% 7%;
    grid-template-columns: 20% 40% 19% 1% 20%;

}

.objList{
    overflow: auto;
}

.objsBox{
    overflow: auto;
    outline: solid black 1px;
    height: 67vh;
    width: 100%;
    grid-area: objs;
}

.undoBtn{
    grid-area: undoBtn;
    height: 100%;
    width: 100%;
    margin-right: -5px;
    text-align: center;
    
}

.nextCycleBtn{
    grid-area: nextCycleBtn;
    height: 100%;
    width: 100%;
    text-align: center;
}

.fullResetBtn{
    grid-area: fullResetBtn;
    height: 100%;
    width: 100%;
    text-align: center;
    border: red;
}