@font-face {
  font-family: 'Triforce';
  src: url('./Fonts/TRIFORCE.TTF') format("ttf");
  font-style: normal;
  font-style: normal;
}


.app {
  text-align: center;
  display: grid;
  grid-template-areas: "cycle progress progress progress"
                       ". . . ."
                       "state state tracker tracker"
                       ". . tracker tracker"
                       ". . tracker tracker";

  grid-template-columns: 10% 24% 33% 33%;
  grid-template-rows: 10% 2% 28% 30% 30%;
  height: 100vh;

  font-family: Triforce;
}

.cycle{
  grid-area: cycle;
  width: 100%;
}


.progressBar{
  grid-area: progress;
  width: 75%;
  text-align: center;
  justify-self: center;
  height: 100%;
  margin: 5vh;
}

.stateChanger{
  grid-area: state;
  height: 45vh;
  margin: 5vh;
  margin-top: 8vh;
}
.tracker{
  grid-area: tracker;
  height: 80vh;
  margin: 5vh;
  margin-top: 8vh;
}


