@font-face {
  font-family: 'Triforce';
  src: url('./Fonts/TRIFORCE.TTF') format("ttf");
  font-style: normal;
  font-style: normal;
}


.app {
  text-align: center;
  display: grid;
  grid-template-areas: ". tracker tracker"
                       ". tracker tracker"
                       ". tracker tracker";

  grid-template-columns: 34% 33% 33%;
  height: 100vh;

  font-family: Triforce;
}


.tracker{
  grid-area: tracker;
  height: 90vh;
  padding: 5vh;
}


